.App-header {
  color: white;
}

.App-link {
  background-color: #061f33;
  color: #abb4ba;
}
body {
  color: #abb4ba;
}
.img {
  width: 175px;
}

.bg1 {
  background-color: #feb46b;
  background-image: linear-gradient(62deg, #feb46b 28%, #fa5d4a 59%);
  width: 625px;
}
